<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="yt_DesignUI.Properties.Settings.TrafficPoliceConnectionString"
            connectionString="Data Source=MIKHAIL\SQLEXPRESS;Initial Catalog=TrafficPolice;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>